Babel==2.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.0
blinker==1.4
certifi==2015.4.28
cssmin==0.2.0
docutils==0.12
ecdsa==0.13
Fabric==1.10.2
feedgenerator==1.7
ghp-import==0.4.1
Jinja2==2.8
jsmin==2.1.4
linecache2==1.0.0
livereload==2.4.0
Markdown==2.6.2
MarkupSafe==0.23
paramiko==1.15.2
pelican==3.6.3
Pillow==2.9.0
pycrypto==2.6.1
Pygments==2.0.2
python-dateutil==2.4.2
python-gettext==2.1
pytz==2015.4
sh==1.11
six==1.9.0
tornado==4.2.1
traceback2==1.4.0
Unidecode==0.4.18
unittest2==1.1.0
webassets==0.11.1
wheel==0.24.0
